.nav {
    grid-area: n;
    background: red;
}
.nav a {
    text-decoration: none;
    padding-left: 10px;
    color: white;
}

.items {
    color: black;


}

.items a.active {
    color: black;
}