
.app-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 10px;

    grid-template-areas:
  "h h h"
  "n s s"
}

.main-content {
    grid-area: s;
    background: #7c9ae8;
    padding-bottom: 10px;
    padding-left: 20px;
}




