.dialog {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    border-right: 2px solid silver;
    padding: 10px;

}

.dialogs .dialog {
    padding: 10px;
    text-decoration: none;
}

.dialogs .dialog.active {
    color: gold;
}

.messages {
padding: 10px;
}

.messages .message {

}